.the-profile-page {
  height: 100%;

  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .profile-selector-wrapper {
      margin: 0.5rem;

      figure {
        margin: 1rem auto;
      }
    }

    .label {
      padding-left: 1.5rem;
    }

    .selection-buttons {
      margin: 0 auto;
    }
  }
}
