.the-profile-page {
  height: 100%;

  .profile-form {
    display: flex;
    flex-direction: column;
    height: 900px;

    .profile-selector-wrapper {
      margin: 0.5rem;

      figure {
        margin: 1rem auto;
      }
    }

    .field-section {
      .single-role-select {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .selection-buttons {
      margin: auto;
    }
  }
}
